@import "~bootstrap/scss/bootstrap";



body {
  min-height: 100vh;
  background-color: black;
  color: white;
  text-decoration: none;
  p {
    color: white;
  }

  a {
    color: white;
  }
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plant-home-image {
  width: 200px;
  height: 200px;
  margin-bottom: 0;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Profile Page

.user-profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  button {
    width: 200px
  }
}

.user-profile-info-innerbox {
  width: 300px;
  text-align: center;
}

.user-profile-info-outerbox {
  display: flex;
}

.profile-search-bar {
  color: white;
  background-color: black;
  border: 1px solid #ffa31a;
  width: 500px;
  text-align: center;
  margin-top: 10px;
}

.plant-info-box {
  display: flex;
}

.profile-plants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-plant-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-plant {
  display: flex;
  flex-direction: column;
  padding: 20px;
  button {
    width: 200px;
  }
  img {
    min-width: 250px;
    height: 250px;
  }
}

.profile-plant-info {
  display: flex;
  flex-direction: column;
}

// .chilli-image-profile {
// width: 25vw;
// height: 30vh;
// }

// .profile-wish-list{
//   display: flex;
//   overflow-x: auto;
//   margin-bottom: 3vh;
// }

// .profile-wishlist-column{
//   display: flex;
//   flex-direction: column;
//   margin: 10px;
// }

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Profile Page

.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000000;
}

.imageBox {
  background-image: url('../assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 500px;
}

.subtitle {
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}

.enterButton {
  margin: 20px 0;
  font-weight: 600;
  background-color: #ffa31a;
  color: #000000;
  border: 0px;
}

.enterButton:hover {
  background-color: #ffa31aa8;
  border: 0px;
}

.enterButton:focus {
  background-color: #ffa31aa8;
  border: 0px;
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - About page

.about-links {
  display: flex;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-button{
  width: 150px;
  margin: 5px;
  background-color: #ffa31a;
  border: none;
  color: black;
}

.about-button:hover{
  background-color: #ffa31aa8;
  border: none;
}

.about-button:focus{
  background-color: #ffa31aa8;
  border: none;
  
}

.about-card{
  margin: 80px 10px;
  height: 600px;
  width: 350px;
  text-align: center;
}

.about-image-container{
  // height: 350px;  if you want to keep iamges differnt size, but text apart
  img {
    height: 300px;
  }
}

.spotify {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  img {
    margin-top: 10px;
    width: 400px;
    height: 400px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar

.box-of-fun{
  margin: 0px;
  padding: 0px;
}
.home-link {
  color: white
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

#basic-nav-dropdown {
  color: white;
}

#basic-navbar-nav {
  color: white;
}

.form-label {
  color: white;
}

.navbar-toggler.collapsed{
  background-color:#ffa31a;
}
.navbar-toggler{
  background-color:#ffa31a;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Resources page
.resources-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resources-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Auth

.auth-page{
  display: flex;
  width: 500px;
  margin-top: 30px;
}

.auth-container {
  display: flex;
  justify-content: space-evenly;
  h2 {
    text-align: center;
  }
  height: 80vh;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px;
}

.auth-button {
  background-color: #ffa31a;
  color: black;
  border: none;
}

.auth-button-disabled {
  background-color: #ffa31a44;
  color: white;
  border: none;
}

.auth-button-disabled:hover {
  background-color: #ffa31aa8;
  border: 0px;
}

.auth-button:hover {
  background-color: #ffa31aa8;
  border: 0px;
}

.please-login {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    text-align: center;
  }
}

.toast-error {
  width: 300px;
  background-color: white;
  color: black;
  margin: 0;
}

.toast-header {
  justify-content: space-between;
  background-color: red;
  color: white;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-toast {
  display: flex;
  justify-content: center;
  height: 100px;
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Edit user profile

.edit-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  h2 {
    text-align: center;
  }
}

.edit-profile-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile-button {
  margin: 10px 30px;
  width: 200px;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Weather Page

.modal-content {
  color: black;
  p {
    color: black;
  }
}
.delete-from-wishlist-buttons{
  background-color: #ffa31a;
  border: none;
  color:#000000;
}
.delete-from-wishlist-buttons:hover{
  background-color: #ffa31aa8;
  border: none;
  color:white;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Weather Page

.weather-button {
  background-color: #ffa31a;
  color: black;
  border: none;
  margin-right: 2vw;
}

.weather-button:hover {
  background-color: #ffa31aa8;
  color: white;
  border: none;
}

.auth-button:focus{
  background-color: #ffa31aa8;
  border: none;
}

.forecast-buttons-container {
  display: flex;
  // padding-left: 30px;
  justify-content: flex-start;
}

.table {
  color: white;
}
.select-location-form {
  display: flex;
  
  button {
    max-height: 40px;
    // align-self: baseline;
    margin-left: 1vw;    
  }
  button:focus{
    background-color: #ffa31aa8;
    
  }
}
.all-weather-buttons-forms {
  display: flex;
  flex-direction: column;

}
.day {
  display: flex;
  min-width: 400vw;
  overflow-x: auto;
}

.day-weather{
  margin-left: 80px;
}
.carousel,
.carousel-item,
.d-block,
.w-100,
.carousel img {
  height: 90vh;
  width: 80vw;
}

.carousel-caption {
  background-color: #00000046;
  color: #ffffff;
}
// .carousel img {
//   height: 400px;
//   width: 500px;
// }

.searches {
  display: flex;
  width: 500px;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

table, thead, tbody, tr, th, td {
  border: 2px solid black;
  color: #ffffff;
}

.science {
  font-style: italic;
  font-weight:100;
  height: 30px;
}

a:hover {
  text-decoration: none;
}

.month-scroll {
  font-size: 30px;
  color:#ffa31a;
  font-weight: 700;
}

.search-label {
  font-size: 20px;
  color:#ffa31a;
  font-weight: 700;
}

.tile-title {
  font-weight: 900;
  color:#ffa31a;
}
  //weather 

.chilli-image-profile {
  width: 30vw;
  height: 30vh;
  }

  .weather-button{
    font-size: 10px;
  }

  .weather-button-container{
    display: flex;
    flex-direction: column;
  }

.carousel-box {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 850px) {

  .about-card{
    width: 350px;
    margin: 5px;
  }

  .auth-container {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-toast {
    margin-bottom: 20px;
  }

  .profile-plant-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-blant-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .profile-search-bar {
    width: 400px;
  }
}