@import "~bootstrap/scss/bootstrap";

body {
  min-height: 100vh;
  background-color: black;
  color: white;
  text-decoration: none;
  p {
    color: white;
  }

  a {
    color: white;
  }
}

.plant-home-image {
  width: 200px;
  height: 200px;
}


.chilli-image-profile {
width: 300px;
height: 300px;
}

.profile-wish-list{
  display: flex;
  overflow-x: auto;
}

.profile-wishlist-column{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-color: #000000;
}

.imageBox {
  background-image: url('../assets/logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 500px;
}

.subtitle {
  color: #ffffff;
  margin: 20px 0;
  text-align: center;
}

.enterButton {
  margin: 20px 0;
  font-weight: 600;
  background-color: #ffa31a;
  color: #000000;
  border: 0px;
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - About page

.about-links {
  display: flex;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about-button{
  width: 150px;
  margin: 5px;
  background-color: #ffa31a;
  border: none;
  color: black;
}

.about-button:hover{
  background-color: #ffa31aa8;
}

.about-card{
  margin: 80px 10px;
  height: 600px;
  width: 350px;
  text-align: center;
}

.about-image-container{
  // height: 350px;  if you want to keep iamges differnt size, but text apart
  img {
    height: 300px;
  }
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Navbar

.home-link {
  color: white
}

#basic-nav-dropdown {
  color: white;
}

#basic-navbar-nav {
  color: white;
}

.form-label {
  color: white;
}
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Resources page
.resources-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resources-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Auth

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    text-align: center;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 50px;
  padding: 30px;
}

.auth-button {
  background-color: #ffa31a;
  color: black;
  border: none;
}

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Profile Page

.edit-profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  h2 {
    text-align: center;
  }
}

.edit-profile-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-profile-button {
  margin: 10px 30px;
  width: 200px;
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Weather Page

.modal-content {
  color: black;
  p {
    color: black;
  }
}

.weather-button {
  background-color: #ffa31a;
  color: black;
  border: none;
}

.weather-button:hover {
  background-color: #ffa31ab0;
  color: white;
}

.weather-button:active {
  color: #ffa31a;
}

.table {
  color: white;
}

@media screen and (max-width: 850px) {

  .about-container{
    display: flex;
    flex-direction: column;
  }

  .about-card{
    width: 350px;
    margin: 5px;
  }

}